<%- include('partials/head') %>
<body>
  <%- include('partials/navHeader') %>
  <main class="container mx-auto mt-40 text-center">
  <h2 class="text-3xl font-bold text-red-500 mb-5">404</h2>
  <p class="text-3xl font-medium text-gray-800 mb-10">Oops! Page Not Found</p>
  <a href="/" class="bg-red-500 text-white text-lg font-semibold py-3 px-8 rounded-full hover:bg-red-600 transition duration-300">
    Go Back Home
  </a>
</main>

</body>
</html>